 li {
    list-style-type: none; /* Убираем маркеры */
}

#Body {  
    width: 900px;
    margin: auto;
}

#Logo {
    position: absolute;
    left: 60px;
    top: 10px;

}

#Terra {
   position: absolute;
   left: 165px;
    color: #52ad59;
    font: 700 48px / 16px Tahoma, Verdana, Segoe, sans-serif;
}

#Header {
    width: 900px;
    height: 80px;
    position: relative;
    /*padding-top: px;*/
}

#List {
    position: absolute;
   /* border-color: #6c6c6c;
    border-style: solid;
    border-width: 3px;*/
    right: 60px;
    bottom: 0px;
}
#List ul {
    display: flex;
}

#List ul li a{
    color: #6c6c6c;
    padding:0 0 0 10px;
    font: 700 21.77px / 16px "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
}

/* slider */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { 
    height: 479px;
    overflow: hidden;
}
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}



